<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions remain the same -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/mudra_sahayak_logo2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mudra_sahayak_logo2"
        android:supportsRtl="true"
        android:theme="@style/Theme.MudraSahayak"
        tools:targetApi="31">

        <!-- AuthActivity is now the startup activity -->
        <activity
            android:name=".AuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other activities are not exported and are launched from within the app -->
        <activity
            android:name=".LanguageSelectionActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".LoanOfferActivity"
            android:exported="false" />

        <activity
            android:name=".BankDetailsActivity"
            android:exported="false" />

    </application>

</manifest>

